<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="Terminal emulator">
			<action name="Execute">
				<execute>x-terminal-emulator</execute>
			</action>
		</item>
		<item label="Volume Control">
			<action name="Execute">
				<execute>alsamixergui</execute>
			</action>
		</item>
		<item label="Kill App">
			<action name="Execute">
				<execute>xkill</execute>
			</action>
		</item>
		<item label="Screeny">
			<action name="Execute">
				<execute>xfce4-screenshooter</execute>
			</action>
		</item>
		<item label="Web browser">
			<action name="Execute">
				<execute>x-www-browser</execute>
			</action>
		</item>
		<!-- This requires the presence of the 'menu' package to work -->
		<menu id="/Debian"/>
		<item label="Files">
			<action name="Execute">
				<execute>thunar</execute>
			</action>
		</item>
		<menu id="root-menu-44430" label="Apps">
			<menu id="root-menu-44430-24205" label="Accessories">
				<item label="Disk Manager">
					<action name="Execute">
						<execute>gnome-disks</execute>
					</action>
				</item>
				<item label="Usb Formatter">
					<action name="Execute">
						<execute>mintstick -m format</execute>
					</action>
				</item>
				<item label="Usb Image Writer">
					<action name="Execute">
						<execute>mintstick -m iso</execute>
					</action>
				</item>
				<item label="Calc">
					<action name="Execute">
						<execute>gnome-calculator</execute>
					</action>
				</item>
			</menu>
			<menu id="root-menu-44430-90022" label="Web">
				<item label="Firefox">
					<action name="Execute">
						<execute>firefox</execute>
					</action>
				</item>
				<item label="Jdownloader">
					<action name="Execute">
						<execute>Jdownloader</execute>
					</action>
				</item>
				<item label="Chrome">
					<action name="Execute">
						<execute>google-chrome-stable</execute>
					</action>
				</item>
			</menu>
			<menu id="root-menu-44430-894811" label="Programming">
				<item label="bluej">
					<action name="Execute">
						<execute>bluej</execute>
					</action>
				</item>
				<item label="Notepad++">
					<action name="Execute">
						<execute>wine &quot;/home/pizza/.wine/drive_c/Program Files (x86)/Notepad++/notepad++.exe&quot;</execute>
					</action>
				</item>
				<item label="Idle3">
					<action name="Execute">
						<execute>idle3</execute>
					</action>
				</item>
			</menu>
			<menu id="root-menu-44430-295935" label="Music &amp; Video Stuff">
				<item label="Vlc Player">
					<action name="Execute">
						<execute>vlc</execute>
					</action>
				</item>
				<item label="Spotify">
					<action name="Execute">
						<execute>spotify</execute>
					</action>
				</item>
			</menu>
			<menu id="root-menu-44430-84447" label="Office Stuff">
				<item label="LibreOffice">
					<action name="Execute">
						<execute>libreoffice</execute>
					</action>
				</item>
			</menu>
		</menu>
		<separator/>
		<menu id="client-list-menu"/>
		<menu id="root-menu-6398" label="Config">
			<item label="Change Menu">
				<action name="Execute">
					<execute>obmenu</execute>
				</action>
			</item>
			<item label="Change Wallpaper">
				<action name="Execute">
					<execute>nitrogen</execute>
				</action>
			</item>
			<item label="Change Icons">
				<action name="Execute">
					<execute>lxappearance</execute>
				</action>
			</item>
			<item label="Change Themes">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
			<item label="Change Panel">
				<action name="Execute">
					<execute>/home/pizza/tint2wizard/startup.sh</execute>
				</action>
			</item>
			<item label="MintInstall">
				<action name="Execute">
					<execute>gksu mintinstall</execute>
				</action>
			</item>
			<item label="menulibre">
				<action name="Execute">
					<execute>menulibre</execute>
				</action>
			</item>
			<item label="Synaptic">
				<action name="Execute">
					<execute>synaptic-pkexec</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<item label="Shutdown">
			<action name="Execute">
				<execute>gksudo shutdown -h now</execute>
			</action>
		</item>
		<item label="Restart">
			<action name="Execute">
				<execute>gksudo shutdown -r now</execute>
			</action>
		</item>
		<separator/>
		<item label="Exit">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
